@font-face {
				font-style: normal;
				font-weight: normal;
				font-family: "Roboto-gllacy";
								src: url(../font/roboto.woff2) format("woff2"),
									url(../font/roboto.woff) format("woff");
			}
@font-face {
				font-style: normal;
				font-weight: bold;
				font-family: 
					"Roboto-gllacy";
					src: url(../font/robotobold.woff2) format("woff2"),
						url(../font/robotobold.woff) format("woff");
			}
@font-face {
				font-style: normal;
				font-weight: 600;
				font-family: 
					"Roboto-gllacy";
					src: url(../font/robotomedium.woff2) format("woff2"),
						url(../font/robotomedium.woff) format("woff");
			}
body {
	margin: 0px;
	padding: 0px;
	
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto-gllacy", "Arial", sans-serif;
	color: #ffffff;

	background-color: rgb(132, 157, 143);
}
a {
	color: #ffffff;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a:hover,
a:active {
	color: #e84d37;
}
.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0px 27px;
}
.inner-wraper {
	display: flex;
	justify-content: space-between;
}
.main-navigation {
	display: flex;
	margin-right: auto;
}
.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
}
.user-navigation {
	display: flex;
	align-items: flex-start;
	justify-content: inherit;
}
.main-header-logo {
	display: flex;
	width: 156px;
	height: 67px;
	margin-top: auto;
	margin-right: 24px;
	padding-top: 8px;
}
.main-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
}
.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}
.site-navigation {
	margin: 0px;
	padding: 0px;
}
.site-navigation > li {
	position: relative;
	display: block;
}
.site-navigation .new-items {
	position: absolute;
	left: -20px;
	top: 64px;
	width: 150px;
	min-height: 171px;
	display: none;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index: 1;
	list-style: none;
}
.site-navigation >li:hover .new-items {
	display: block;
}
.site-navigation .new-items a {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding-left: 20px;
	padding-top: 12px;
	padding-bottom: 14px;
	text-decoration: none;
	color: #323232;
}
.contact {
	display: none;
}
.user-navigation {
	min-width: 262px;
	margin: 0px;
	padding: 0px;
}
.search-form {
	display: none;
}
.login-link-form {
	display: none;
}
.site-navigation,
.user-navigation {
	list-style: none;
}
.user-navigation .search {
	position: relative;
	box-sizing: border-box;
	font-size: 0px;
	width: 32px;
	margin-top: 26px;
	padding: 16px;
	line-height: 0px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}
.search::before {
	content: "";
	position: absolute;
	left: 8px;
	top: 8px;
	width: 18px;
	height: 18px;
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-navigation .login-link {
	position: relative;
	box-sizing: border-box;
	width: 92px;
	height: 32px;
	margin-top: 26px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 45px;
	line-height: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	text-decoration: none;
}
.login-link::before {
	content: "";
	position: absolute;
	left: 17px;
	top: 7px;
	width: 22px;
	height: 20px;
	background-image: url(../img/entrance.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-navigation .basket-item {
	position: relative;
	box-sizing: border-box;
	width: 117px;
	margin-top: 26px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 45px;
	line-height: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	text-decoration: none;
}
.basket-item::before {
	content: "";
	position: absolute;
	left: 17px;
	top: 7px;
	width: 22px;
	height: 20px;
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.site-navigation a,
.user-navigation a {
	display: block;
	padding: 0 14px;
	vertical-align: middle;
	color: #ffffff;
}
.site-navigation-menu {
	margin-top: 26px;
	line-height: 32px;
	border-radius: 100px;
}
.site-navigation .site-navigation-menu:hover,
.site-navigation .site-navigation-menu:active {
	color: #333333;
	background-color: #ffffff;
	text-decoration: none;
}
.site-navigation li:first-child a:visited {
	background-color: #d07058;
	text-decoration: none;
}
input[type="radio"] {
	display: none;
}
.slider-wraper {
	width: 1200px;
	min-height: 580px; 
	
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image 0.5s ease, background-color 0.5s ease;

}
.slider-wraper::before,
.slider-wraper::after {
  content: "";

  visibility: hidden;
}

.slider-wraper::before {
  background-image: url("../img/ice-two-sl.png");
}

.slider-wraper::after {
  background-image: url("../img/ice-three-sl.png");
}


.content-wraper {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}
.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
}
.slider-list {
	display: none;
}
.slider-title {
	width: 700px;
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 28px;
}
.slider-btn {
	display: inline-block;
	padding: 12px 50px;

	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slider-btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	}

.slider-btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .slider-wraper #slider1,
#btn-2:checked ~ .slider-wraper #slider2,
#btn-3:checked ~ .slider-wraper #slider3 {
	display: block;
}
#btn-1:checked ~ .slider-wraper {
  background-color: #849d8f;
  background-image: url("../img/ice-one-sl.png");
}

#btn-2:checked ~ .slider-wraper {
  background-color: #8996a6;
  background-image: url("../img/ice-two-sl.png");
}

#btn-3:checked ~ .slider-wraper {
  background-color: #9d8b84;
  background-image: url("../img/ice-three-sl.png");
}

#btn-1:checked ~ .slider-wraper label[for="btn-1"],
#btn-2:checked ~ .slider-wraper label[for="btn-2"],
#btn-3:checked ~ .slider-wraper label[for="btn-3"] {
	background-color: #ffffff;
}
.banner {
	margin-bottom: 40px;
}
.banner-list {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}
.banner-name {
	font-size: 35px;
	line-height: 41px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 18px;
}
.banner p {
	font-size: 18px;
	line-height: 22px;
	margin-top: 0px;
	padding-top: 22px;
	padding-left: 20px;
	padding-right: 30px;
}
.banner-item-one,
.banner-item-two {
	display: flex;
	flex-direction: column;
}
.banner-item-one {
	width: 560px;
	height: 229px;
	background-image: url(../img/bg-banner-one.jpg);
	border-radius: 10px;
}
.banner-item-two {
	width: 560px;
	height: 229px;
	background-image: url(../img/bg-banner-two.jpg);
	border-radius: 10px;
}
.banner-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 21px;
	margin-top: 24px;
	padding-left: 23px;
	padding-right: 23px;
	line-height: 46px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	opacity: 0.988;
	border-radius: 100px;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.catalog {
	margin-bottom: 40px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.catalog img {
	border-radius: 50%;
}
.catalog-item {
	position: relative;
	width: 267px
}
.catalog-hit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 61px;
	height: 61px;
	font-size: 0px;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
}
.price-product {
	position: absolute;
	min-width: 155px;
	min-height: 34px;
	left: 0px;
	top: 160px;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}
.catalog-kg {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
	margin-left: 29px;
}
.catalog-kg::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 33px;
    left: 80px;
    bottom: 55px;
	background-image: url(../img/ruble.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.name-product {
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
}
.promo {
	width: 1146px;
	min-height: 306px;
	border-radius: 10px;
	background-image: url(../img/bg-wafer.jpg);
	margin-bottom: 40px;	
}
.promo-new {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.promo-name {
	padding-top: 25px;
	padding-left: 20px;
}
.promo-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #323232;
}
.promo-item > p {
	padding-top: 24px;
	padding-left: 77px;
	width: 475px;
}
.promo p {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232;
}
.promo-item {
	position: relative;
}
.promo-item-one::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 26px;
	width: 50px;
	height: 50px;
	background-image: url(../img/ice-cream.svg);
	background-repeat: no-repeat;
}
.promo-item-two::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 26px;
	width: 50px;
	height: 50px;
	background-image: url(../img/cow.svg);
	background-repeat: no-repeat;
}
.promo-item-three::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 26px;
	width: 50px;
	height: 50px;
	background-image: url(../img/eco.svg);
	background-repeat: no-repeat;
}
.promo-item-four::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 26px;
	width: 50px;
	height: 50px;
	background-image: url(../img/thermometer.svg);
	background-repeat: no-repeat;
}
.info-wraper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.blog {
	width: 560px;
	height: 220px;
	background-image: url(../img/bg-block.jpg);
	background-repeat: no-repeat;
	border: 1px solid rgba(194, 206, 199, 0.52);
	border-radius: 10px;
}
.blog-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #323232;
	padding-top: 24px;
}
.blog p {
	width: 280px;
	padding-left: 20px;
}
.blog a {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding-top: 10px;
	color: #323232;
}
.mail-list {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
}
.mail-list {
	box-sizing: border-box;
	width: 560px;
	height: 220px;
	background-image: url(../img/bg-post.svg);
	background-repeat: repeat-y;	
}
.mail-list-card {
	display: flex;
	flex-direction: column;
	min-height: 210px;
	margin: 5px;
	background-color: #ffffff;
	border-radius: 10px;
}
.mail-list-newsletter {
	margin: 0px;
	margin-top: 30px;
	padding: 0 26px;
}
.mail-list-form input {
	min-width: 368px;
	min-height: 44px;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
}
input::placeholder {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	padding-left: 16px;
}
.mail-list-form {
	margin-top: 38px;
	padding-left:26px;
}
.mail-list-btn {
	min-width: 129px;
	font-size: 18px;
	line-height: 24px;
	margin-left: 10px;
	text-align: center;
	line-height: 44px;
	color: #ffffff;
	border-radius: 30px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}
.map-list {
	width: 1200px;
	height: 430px;
	margin-left: -27px;
	background-image: url(../img/map.jpg);
}
.address {
	width: 302px;
	min-height: 305px;
	background-color: #ffffff;
}
.address p {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #323232;
	text-align: left;
}
.address b {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
	text-align: left;
}
.address-contact-btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to left, #e74a35, #f26843);
}
.card-basket {
	display: none;
}
.basket:hover .card-basket {
	display: block;
}
.breadcrumbs {
	padding: 0px;
	margin: 0px;
	min-height: 18px;
	margin-bottom: 10px;
}
.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	list-style: none;
}
.breadcrumbs a {
	text-decoration: underline;
}
.page-title {
	padding: 0px;
	margin: 0px;
	margin-bottom: 32px;
}
.page-title h1 {
	font-size: 25px;
	line-height: 41px;
}
.filter fieldset {
	border: none;
}
.filter {
	width: 879px;
	min-height: 130px;
	margin-bottom: 40px;
}
.filters {
	display: flex;
	flex-wrap: wrap;
}
.filter legend {
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
}
select {
	opacity: 0.2;
}
select:hover {
	background-color: #ffffff;
}
.filters .filters-input:hover,
.filters .filters-input:focus {
	color: #ffffff;
	background-color: #9db1a5;
	border-radius: 30px;
	opacity: 0.2;
}
.pagination {
	margin: 0px;
	padding: 0px;
}
.pagination-list {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.pagination-list {
	width: 190px;
}
.pagination-item a:hover,
.pagination-item a:active {
	color: #000000;
	background-color: #ffffff;
}
.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
}
.footer-wraper {
	display: flex;
	justify-content: space-between;
}
.about-us a {
	margin-left: 30px;
}
.footer-social ul {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 37px;
	min-width: 186px;
}
.social-buttom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 38px;
	height: 38px;
	margin-left: 11px;
}
.about-us ul {
	margin: 0px;
	padding: 0px;
	width: 350px;
}
.footer-copyright {
	margin: 0px;
	padding: 0px;
	width: 200px;
}
.footer-social ul,
.about-us ul {
	list-style: none;
}
.about-us {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.about-us li:first-child {
	font-weight: bold;
}
.footer-copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.modal {
	display: none;
	color: #999999;	
}
.modal h2 {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 600;
}
.name-form .name-icon-user,
.name-form .name-icon-email,
.name-form textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #999999;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);
}
.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	border-radius: 30px;
	border: none;
	box-shadow: 0 2px 0 2px rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to left, #e74a35, #f26843);	
}